#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


// table
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ece805;
  padding: 8px;
}

// #customers tr:nth-child(even){background-color: rgb(17, 17, 17);}

// #customers tr:hover {background-color: rgb(17, 17, 17);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ece805;
  color: rgb(0, 0, 0);
}

td { text-wrap: normal;
  word-wrap: break-word; }

  table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.add{
  position: absolute;
  right: 10px;
}

.calculate{
  position: absolute;
  left: 45%;
}

.tname{
  width: 30%;
}

ion-content{

  --ion-background-color:#111D12;
}

ion-input{
  color: white;
}

ion-textarea {
  color: white;
}


.sektor {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sektor td, .sektor th {
  border: 1px solid #ece805;
  padding: 8px;
}

// #customers tr:nth-child(even){background-color: rgb(17, 17, 17);}

// #customers tr:hover {background-color: rgb(17, 17, 17);}

.sektor th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ece805;
  color: rgb(0, 0, 0);
}